/* Created by: Santiago Hewett
* Created on: Mar 2023
* This CSS file defines the style for index.html
* ICS2O-Assignment-01-HTML
*/

body {
  background-color: lightblue;
}

h1 {
 background-color: rgb(155, 160, 166);
      color: hsl(0, 0%, 0%);
      text-align: center; 
}

h3 {
  background-color: lightpink;
}

p {
  background-color: lightpink;
}

ul {
  background-color: lightpink;
}